@font-face {
   font-family: 'Euclid Circular B Medium';
   font-display: swap;
   src: url('file:///C:/Users/ugwua/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-02-29_132625/fonts/Euclid%20Circular%20B%20Medium/font.ttf');
}
